{% extends 'base.html' %}

{% block title %}Посты{% endblock title %}

{% block content %}
{#    <div class="card-group">#}

    {% for article in object_list %}
        <div class="card" style="width: 50rem;">
<div class="alert alert-primary" role="alert"><a href="{% url 'article_detail' article.pk  %}" class="alert-link">{{article.title}}</a>
        </div>
            {% if article.photo %}
                <img class="card-img-top" src="{{ article.photo.url }}" alt="{{ article.title }}">
            {%  endif %}
            <div class="card-body">
                {{ article.summary }}...<a href="{% url 'article_detail' article.pk  %}">Подробно</a>
            </div>
            <div class="card-footer text-left text-muted">
                <span class="text-muted">Автор {{ article.author | title }} &middot; {{ article.date }}</span>
            </div>
{#        </div>#}
        <br />
    {% endfor %}
    </div>
{% endblock content %}