{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            {% if object.photo %}
            <img class="card-img-top" src="{{ object.photo.url }}" alt="{{ object.title }}">
            {% endif %}
            <h1 class="card-title">{{ object.title }}</h1>
            <h6 class="card-subtitle mb-2 text-muted">Автор: {{ object.author }} | {{ object.date }}</h6>
            <p class="card-text">{{ object.body | safe}}</p>
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <a href="{% url 'article_edit' article.pk %}" button type="button" class="btn btn-danger">Редактировать</button></a>
            <a href="{% url 'article_delete' article.pk %}" button type="button" class="btn btn-warning">Удалить</button></a>
            <a href="{% url 'article_list' %}" button type="button" class="btn btn-success">Все посты</button></a>
        </div>
        <div class="card">
            <div class="card-header">Комменты</div>
            {% for comment in article.comments.all %}
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>{{ comment }}</p>
                    <footer class="blockquote-footer">{{ comment.author }}</footer>
                </blockquote>
            </div>
            {% endfor %}
        </div>
    </div>
    <p></p>
</div>


{% endblock content %}